<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main id="error-page">
    <h1>Not Authenticated!</h1>
    <p>You are not Authenticated! Please login first.</p>
  </main>
</body>
</html>