<%- include('includes/head.ejs', { title: 'Error!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main id="error-page">
    <h1>An error ocurred!</h1>
    <p>Unfortunately, we could not find the requested resurce!</p>
  </main>
</body>
</html>