<%- include('includes/head.ejs', { title: 'Failure!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Order failed</h1>
    <p>Please contact the shop owner for more details.</p>
  </main>
</body>
</html>