<%- include('includes/head.ejs', { title: 'Success!' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Order was successful!</h1>
    <p>You can visit <a href="/orders">the orders page</a>.</p>
  </main>
</body>
</html>