body {
    margin: 0;
    background-color: rgb(31, 27, 25);
}

main {
    color: rgb(202, 202, 202);
    width: 45%;
    margin: 2rem auto;
    margin-top: 6rem;
}

#main-header {
    width: 100%;
    max-width: 60rem;
    height: 5rem;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#main-header nav {
    color: rgb(181, 119, 3);
    width: 50rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

#main-header ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-header li {
    margin: 0 1rem;
}

#logo {
    text-decoration: none;
    color: rgb(181, 119, 3);
}

.a-nav {
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 4px;
    color: rgb(181, 119, 3);
}

.a-nav:hover {
    background-color: rgb(56, 48, 44);
}

hr {
    width: 100%;
    border-color: rgb(181, 119, 3);
}

.btn {
    background-color: rgb(181, 119, 3);
    border-radius: 5px;
    border: 0;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: black;
}

.btn:hover {
    background-color: rgb(255, 166, 0);
    cursor: pointer;
}

.a-btn,
#a-btn {
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: transparent;
    border: solid 1px;
    border-color: rgb(181, 119, 3);
    color: rgb(181, 119, 3);
}

.a-btn:hover,
#a-btn:hover {
    background-color: rgb(181, 119, 3);
    color: black;
}

#error-page {
    text-align: center;
}

.badge {
    margin-left: 0.5rem;
    padding: 0.15rem 0.8rem;
    border-radius: 10rem;
    background-color: rgb(181, 119, 3);
    color: black;
}